/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}
/* Variables */
:root {
    --main-color: #fa5353;
    /* Second Color Choice */
    /* --main-color: #0d81ec ; */
    --dark-color: #1b182b;
    --light-color: #322f40;
    --text-color: hsl(0,0%,91%);
}
::selection {
    color: var(--text-color);
    background: var(--main-color);
}

/* Nav Icons */
.nav-icons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.nav-icons .bx {
    font-size: 20px;
    height: 44px;
    width: 44px;
    display: grid;
    place-items: center;
    color: var(--text-color);
    background: #21232b;
    border-radius: 50%;
    cursor: pointer;
}

/* Menu Icon */
.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: var(--light-color);
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}