/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}
/* Variables */
:root {
    --main-color: #fa5353;
    /* Second Color Choice */
    /* --main-color: #0d81ec ; */
    --dark-color: #1b182b;
    --light-color: #322f40;
    --text-color: hsl(0,0%,91%);
}
::selection {
    color: var(--text-color);
    background: var(--main-color);
}

/* Navbar */
.nav {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 12px 12px;
    color: var(--light-color);
}
/* Nav Icons */
.nav-icons {
    display: flex;
    align-items: right;
    column-gap: 1rem;
}
.nav-icons .bx {
    font-size: 20px;
    height: 44px;
    width: 44px;
    display: grid;
    place-items: center;
    color: var(--text-color);
    background: #21232b;
    border-radius: 50%;
    cursor: pointer;
}

/* Menu Icon */
.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: var(--light-color);
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background: var(--text-color);
    height: 2px;
    width: 25px;
    transition: 0.3s;
}

.move .line1 {
transform: rotate(-45deg) translate(-5px, 6px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*Menu*/
.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 14, 0.9);
    z-index: 106;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    clip-path: circle(0% at 100% 0%);
}
.menu.active {
    clip-path: circle(144% at 100% 0%);
  
}
.menu img {
    width: 400px;
    padding: 0 25px;
    margin-left: 300px;
}

.navbar {
    display: grid;
    row-gap: 1rem;
    text-align: right;
    padding-right: 2rem;
}

.navbar a{
font-size: 1.6rem;
color: var(--text-color);
font-weight: 500;
transition: 0.2s;
}

.navbar a:hover {
    border-bottom: 4px solid var(--main-color);
    font-size: 1.8rem;
}

/*Home*/
.home img {
    width: 100%;
    height: 120%;
    top: -100px;
    position: absolute;
}

.home-text {
    z-index: 100;
    position: absolute;
    left: 35%;
    top: 150px;
    font-size: 60px;
    font-weight: bold;
}

/*Body */
body {
    background-color: #747474;
}

/*Main*/
.main {
    position: relative;
    min-height: 1800px;
    display: flex;
    align-items: center;
    margin-top: 5rem;
    padding-left: 30%;
}

.main h1 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--text-color);
}

.main p {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-top: 1rem;
    padding-right: 20%;
}
.main button {
    background: var(--main-color);
    padding: 15px 20px;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    align-items: center;
    position: absolute;
    left: 40%;
    bottom: 0%;
    width: 10rem;
    height: 3rem;
}

.main button:hover {
    background: var(--light-color);
    transition: 0.3s all linear;
}

/* Card Container */
.card-container {
    width: 550px;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 30rem;
    left: 60%;
    top: 100rem;
}

#card {
    position: relative;
    width: 100%;
    padding: 30px 20px;
    border: 1px solid black;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: #ffffff;
}

#card img {
    display: block;
    width: 300px;
    max-height: 400px;
    position: relative;
    margin: 20px auto;
}
.hp {
   width: 80px; 
   background-color: #ffffff;
   text-align: center;
   padding: 8px 0;
   border-radius: 30px;
   margin-left: auto;
   font-weight: 400;
}

.poke-name {
    text-align: center;
    font-weight: 600;
}

.types {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
}

.hp span,
.types span{
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats p {
   color: #404060; 
}

#btn {
    display: block;
    padding: 15px 60px;
    font-size: 18px;
    background-color: #101010;
    color: #ffffff;
    position: relative;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
}